@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  /* outline: #072635 1px solid; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", serif;
  /* background-color: #f6f7f8; */
}

#nav-links span {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: small;
  font-optical-sizing: auto;
  font-style: normal;
}
#right-links span {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: x-small;
  font-optical-sizing: auto;
  font-style: normal;
}

.patientname {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: x-small;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-muted {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: x-small;
  font-optical-sizing: auto;
  font-style: normal;
}

.card-title {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: large;
  font-optical-sizing: auto;
  font-style: normal;
}

.overflow-auto {
  scrollbar-width: thin;
  scrollbar-color: #072635 transparent;
}

.card-text-bold {
  margin-top: -5px;
  margin-bottom: 0;
}
.norm {
  font-size:0.7em;
}

.selected-info {
  font-size: 0.8em;
  line-height: 1.4;
}