@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  /* outline: #072635 1px solid; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #f6f7f8; */
}

#nav-links span {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: small;
  font-optical-sizing: auto;
  font-style: normal;
}
#right-links span {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: x-small;
  font-optical-sizing: auto;
  font-style: normal;
}

.patientname {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: x-small;
  font-optical-sizing: auto;
  font-style: normal;
}
.text-muted {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: x-small;
  font-optical-sizing: auto;
  font-style: normal;
}

.card-title {
  color: #072635;
  font-family: "Manrope", serif;
  font-size: large;
  font-optical-sizing: auto;
  font-style: normal;
}

.overflow-auto {
  scrollbar-width: thin;
  border-radius: 10px;
  scrollbar-color: #072635 transparent;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
